<div class="container-fluid">
<div class="col-md-6 maintile">
	<div class="mainlogo">
	<h1>Project<span>scale</span></h1>
  </div>
</div>
<div class="col-md-6 second_bg">
<div id="login">
  <form>
    <h1>Sign In</h1>
    <input type="text" placeholder="Username">
    <input type="password" placeholder="Password">
    <button>Sign in</button>
  </form>
</div>
</div>
  <h5 style="float: right; font-weight: bold; font-family: monospace; color: #cfcfcf; font-size: 11px; left: 0px; bottom: 0px; top: 0px;"> [ Author:DURISHETTY VENUGOPAL ] [Version:1.0]</h5>
</div>