<nav class="navbar navbar-default">
  <div class="container-fluid menubar-cont">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><h4>Project<span>Scale</span></h4></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
 		<li><a routerLink="/aboutMe" routerLinkActive="active">AboutMe</a></li>
 		<li><a routerLink="/services" routerLinkActive="active">Services</a></li>
 		<li><a routerLink="/workBook" routerLinkActive="active">Workbook</a></li>
      <li><a routerLink="/reUse" routerLinkActive="active">employeeData</a></li>
 	   <li><a routerLink="/projectScale" routerLinkActive="active">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="footer">
  <h4 style="float: left; font-family:monospace; font-size: 10px; color:#02c4be"> Copy right #venugopal</h4>
  <h4 style="float: right; font-weight: bold; font-family: monospace; color: #02c4be; font-size: 12px;"> [ Author:DURISHETTY VENUGOPAL ] [Version:1.0]</h4>
</div>